<!DOCTYPE html>
<html lang="fr" ng-app="WormBuyer">
<head>
<meta charset="UTF-8">
<title>Worms </title>

    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-theme.min.css">
    <!-- for CSS Transitions and/or Keyframe Animations -->
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- jQuery is used for JavaScript animations (include this before angular.js) -->
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-resource.js"></script>
	
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- required module to enable animation support in AngularJS -->
    <script src="lib/angular-animate.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <!-- for JavaScript Animations -->
    <script src="js/animations.js"></script>

    <style type="text/css">
        body{
            padding-top: 70px;
        }
    </style>
</head>
<body >

<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div  class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Worms World War</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div style= "float:right" class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#" target="_blank">Home</a></li>
				<li><a href="#?w=750?" rel="connexion" class="poplight">Se connecter</a></li>
				<li><a href="#?w=850?" rel="contact" class="poplight">Contact</a></li> 

				
			</ul>
		</div>
	</div>
</nav>
<div class=" first">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item ">
                <h1 >Ouverture du 1er site d'achat de worm</h1>
                <div class="carousel-caption">
                  <h2>Soyez le premier à acheter votre worm !</h2>
                
                </div>
            </div>
            <div class="item">
                <h1>Noël arrive à grand pas de vers !</h1>
                <div class="carousel-caption">
                  <h2>Offrer un worm au Père Noël !</h2>
                 
                </div>
            </div>
            
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div><br><br>
<div class="container">

	<div class="jumbotron">
		<h3 style="border:non; font-size:35px">Recruter votre Worm </h3>
		<p>Customiser votre worm pour faire face aux zombies et autres calamitées !</p>
		
	</div>
	<div class="row">
		<div class="col-xs-4 small">
			<h3>Worm de base </h3>
			<p>Choisiser votre worm parmis les nombreux vers en quête de sang</p><br>
			
			<div class="bs-example">
    <div id="myCarousel1" class="carousel slide" data-interval="3000" data-ride="carousel1">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
           
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item ">
                <h2>Slide 1</h2>
                <div class="carousel-caption">
                  <h3>First slide label</h3>
              
                </div>
            </div>
            <div class="item">
                <h2>Slide 2</h2>
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                 
                </div>
            </div>
            
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
	<!--	<p style="text-align:center"><a href="#?w=1000?" rel="personnages" class="poplight btn btn-success">Voir les worms</a></p> -->
</div>
		</div>
		<div class="col-xs-4 small">
			<h3>Armes</h3>
			<p>Equiper-le d'armes aussi explosives qu'inoffensives (non c'est pas vrai)</p><br>
			
			<div class="bs-example">
    <div id="myCarousel2" class="carousel slide" data-interval="3000" data-ride="carousel2">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>
          
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <h2>Slide 1</h2>
                <div class="carousel-caption">
                  <h3>First slide label</h3>
               
                </div>
            </div>
            <div class="item">
                <h2>Slide 2</h2>
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                 
                </div>
            </div>
            
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel2" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
		<!--<p style="text-align:center"><a href="#?w=1000?" rel="armes" class="poplight btn btn-success">Voir les armes</a></p> -->
</div>
		</div>
		<div class="col-xs-4 small">
			<h3>Bonus</h3>
			<p>Ajouter lui des bonus à défriser un moutons ou un poney ou même deux poneys!</p><br>
			
			<div class="bs-example">
    <div id="myCarousel3" class="carousel slide" data-interval="3000" data-ride="carousel3">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel3" data-slide-to="1"></li>
         
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <h2>Slide 1</h2>
                <div class="carousel-caption">
                  <h3>First slide label</h3>
               
                </div>
            </div>
            <div class="item">
                <h2>Slide 2</h2>
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                 
                </div>
            </div>
            
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel3" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel3" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
		<!--<p style="text-align:center"><a href="#?w=1000?" rel="bonus" class="poplight btn btn-success" >Voir les bonus</a></p> -->
</div>

		</div>
	</div>


<div  ng-controller="wormtruc">

    <div class="left-box">
		<p style="padding-top:40px ;padding-left:8px;padding-bottom:8px"><button class="myButton" type="submit" ng-click="getWormData()">Selection du personnage</button></p><br>
		<p style="padding:8px"><button class="myButton" type="submit" ng-click="getEquipmentData()">Selection de l'arme</button></p><br>
		<p style="padding:8px"><button class="myButton" type="submit" ng-click="getBonusData()">Selection du bonus</button></p><br>
		<p style="padding:8px"><button class="myButton" type="submit" ng-click="addTo()">Voir le panier</button></p><br>
	</div>
	
    <div class="right-box ">	
		<div ng-repeat="worm in worms" style="border:1px">
			<p style="text-align:center"><img ng-src="{{worm.img}}"><p><br>
			Name: {{worm.name}} <br>
			Description:{{worm.description}}<br>
			Produits restants : {{worm.availability}}<br>
			Prix :{{worm.cost}}<br>
			bonus stats : Force :{{worm.ability.force}}<br>Vitalité: {{worm.ability.vitality}}<br>Vitesse: {{worm.ability.speed}}<br>Résistance: {{worm.ability.resistance}}<br>Intelligence: {{worm.ability.mind}}<br>
			<p style="text-align:center"><a class="poplight btn btn-success" ng-click="addTo(worm.name)">Acheter</a></p>
			<HR width="500" align="center">
		</div>
		<div ng-repeat="equipment in equipments">
			<p style="text-align:center"><img ng-src="{{equipment.img}}"><p><br>
			Name: {{equipment.name}} <br>
			Description:{{equipment.description}}<br>
			Produits restants : {{equipment.availability}}<br>
			Prix :{{equipment.cost}}<br>
			bonus stats : Force :{{equipment.ability.force}}<br>Vitalité: {{equipment.ability.vitality}}<br>Vitesse: {{equipment.ability.speed}}<br>Résistance: {{equipment.ability.resistance}}<br>Intelligence: {{equipment.ability.mind}}<br>
			<p style="text-align:center"><a class="poplight btn btn-success">Acheter</a></p>
			<HR width="500" align="center">
		</div>
			<div ng-repeat="bonus in bonuses">
			<p style="text-align:center"><img ng-src="{{bonus.img}}"></p><br>
			Name: {{bonus.name}} <br>
			Description:{{bonus.description}}<br>
			Produits restants : {{bonus.availability}}<br>
			Prix :{{bonus.cost}}<br>
			bonus stats : Force :{{bonus.ability.force}}<br>Vitalité: {{bonus.ability.vitality}}<br>Vitesse: {{bonus.ability.speed}}<br>Résistance: {{bonus.ability.resistance}}<br>Intelligence: {{bonus.ability.mind}}<br>
			<p style="text-align:center"><a class="poplight btn btn-success">Acheter</a></p>
			<HR width="500" align="center">
		</div>
		<div ng-repeat="item in panier" style="border:1px">
			{{item}}
			<HR width="500" align="center">
		</div>
		
	</div>
	
</div>

</div>
<div id="connexion" class="popup_block pop_conex">
	<h3 style="text-align:center"> Connexion </h3><br>
	<form method="post" id="connexion" action="/messages">
    <p><label for="email">Pseudo </label><p style="text-aligne:right"><input type="text" size="30" name="username" id="username" /></p></p>
    <p><label for="password">Mot de passe </label><p style="text-aligne:right"><input type="password" size="30" name="password" id="password" /></p></p>
    <p><input type="submit" value="se connecter" name="commit" id="message_submit"/><br> <br> si vous n'avez pas encore de compte <a href="#?w=750?" rel="inscription" class="poplight">inscrivez-vous</a> dès maintenant!</p>
  </form>
	</div>
<div id="inscription" class="popup_block pop_ins">
	<h3 style="text-align:center"> Inscription </h3><br>
	<p><label for="email">Pseudo </label><p style="text-aligne:right"><input type="text" size="30" name="username" id="username" /></p></p>
    <p><label for="password">Mot de passe </label><p style="text-aligne:right"><input type="password" size="30" name="password" id="password" /></p></p>
	<p><label for="email">Votre adresse mail</label><p style="text-aligne:right"><input type="text" size="30" name="email" id="email" /></p></p><br>
	<p><a class="poplight btn btn-success">Valider</a></p>
</div>
<div id="contact" class="popup_block pop_cont">
	<h3 style="text-align:center">Les merveilleux créateurs de ce magnifique site splendide</h3><br><br>
	<p> Wu Xiao Hang(x9wu@enib.fr) aka The Best Developper In the Est-West-South-North-Middle</p><br>
	<p> Teneau Simon(s0teneau@enib.fr) aka The Best Developper n°2 In the Est-West-South-North-Middle </p>
	</div>
<div id="armes" class="popup_block">
	<h2>Armes</h2>
	</div>
<div id="bonus" class="popup_block">
	<h2>Bonus</h2>
	</div>
	<div>
	

</div>
</body>
<script>
$(document).ready(function() {
$('a.poplight[href^=#]').click(function() {
	var popID = $(this).attr('rel'); //Trouver la pop-up correspondante
	var popURL = $(this).attr('href'); //Retrouver la largeur dans le href

	//Récupérer les variables depuis le lien
	var query= popURL.split('?');
	var dim= query[1].split('&amp;');
	var popWidth = dim[0].split('=')[1]; //La première valeur du lien

	//Faire apparaitre la pop-up et ajouter le bouton de fermeture
	$('#' + popID).fadeIn().css({
		'width': Number(popWidth)
	})
	.prepend('<a href="#" class="close"><img src="image/close_pop.png" class="btn_close" title="Fermer" alt="Fermer" /></a>');

	//Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
	var popMargTop = ($('#' + popID).height() + 80) / 2;
	var popMargLeft = ($('#' + popID).width() + 80) / 2;

	//On affecte le margin
	$('#' + popID).css({
		'margin-top' : -popMargTop,
		'margin-left' : -popMargLeft
	});

	//Effet fade-in du fond opaque
	$('body').append('<div id="fade"></div>'); //Ajout du fond opaque noir
	//Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues de IE
	$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();

	return false;
});

//Fermeture de la pop-up et du fond
	
	//Close Popups and Fade Layer
	$('body').on('click', 'a.close, #fade', function() { //Au clic sur le body...
		$('#fade , .popup_block').fadeOut(function() {
			$('#fade, a.close').remove();  
	}); //...ils disparaissent ensemble
	return false;
});

});



</script>

</html>                                		


